<template>
   
   <div>
        <button class="btn btn-primary ml-5" @click="followUser" v-text="buttonText"></button>
   </div>

</template>

<script>
import { METHODS } from 'http'
    export default {
        props: ['userId', 'follows'],

        mounted() {
            console.log('Component mounted.')
        },

        data: function(){
            return {
                status: this.follows,
            }
        },

        methods: {  
            followUser(){
                axios.post('/follow/' + this.userId) 
                .then(response => { 

                    this.status = ! this.status;
                    //alert(response.data);
                });
            }
        },

        computed: {
            buttonText(){
                return (this.status) ? 'Unfollow' : "Follow";
            }
        }

    } 
</script>
 